[submodule "themes/roxo"]
	path = themes/roxo
	url = git@github.com:StaticMania/roxo-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:Hong-Kong-Districts-Info/hong-kong-districts-info.github.io.git
