{{ define "main" }}

<section class="site-blog details">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <article class="site-blog-details">
          <p><span>{{ .PublishDate.Format "January 2, 2006" }}</span> by <span>{{ .Params.author }}</span></p>
          <h2 class="blog-title">{{ .Title }}</h2>
          <img class="feature-image" src="{{ .Params.feature_image | absURL }}" alt="blog-feature-image">
          {{ .Content }}
        </article>
		<iframe src="https://www.facebook.com/plugins/page.php?href= {{ .Params.iframe }} &tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=3131730406906292" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>	
      </div>
    </div>
  </div>
</section>

<!-- {{ partial "call-to-action.html" . }} -->

{{ end }}